* {
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --darkPurple: #1f0924;
  --pink: #CEC2D1;
  --yellow: rgba(239, 203, 127, 0.85);
  --green: #00958E;
  --body-font: "Quicksand", sans-serif;
  --heading-font: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

main {
  flex-grow: 1;
  background-color: #f7f8f9;
}

/* Start Menu-styling*/

.header {
  background-color: var(--darkPurple);
  position: fixed;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(206, 194, 209, 0.8);
  z-index: 3;
}

.header ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
}

.header img {
  max-width: 200px;
  padding: 10px;
  padding-left: 20px;
}

.header li a {
  display: block;
  padding: 25px;
  text-decoration: none;
  text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: rgba(206, 194, 209, 0.3);
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.menu {
  padding: 0px;
}

.header .menu-btn:checked~.menu {
  max-height: 100vh;
}

/* making lines in the hamburger menu */
.header .menu-icon .nav-icon {
  height: 2px;
  width: 18px;
  background-color: var(--pink);
  display: block;
  position: relative;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after {
  background-color: var(--pink);
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  transition: all 0.5s ease-out;
}

.header .menu-icon .nav-icon::before {
  top: 5px;
}

.header .menu-icon .nav-icon::after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-icon {
  padding-right: 20px;
  padding-top: 35px;
  float: right;
  cursor: pointer;
  position: relative;
}

.header .menu-text {
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 35px;
  padding: 10px;
}

.menu li a {
  color: rgba(206, 194, 209, 0.8);
}

/* extra animation of the hamburger icon */

.header .menu-btn:checked~.menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon::after {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon::before {
  transform: rotate(45deg);
  top: 0;
}

input[type="text"] {
  width: 25em;
  padding: 12px;
  border: none;
  border-bottom: 1px solid var(--pink);
  border-radius: 0px;
  box-sizing: border-box;
  color: var(--darkPurple);
  font-size: 18px;
}

label {
  font-size: 18px;
  padding-top: 5px;
}


option, select{
  font-size: 16px;
}


/* change the menu in mobile view */

@media screen and (min-width: 880px) {
  .header .menu-icon {
    display: none;
  }

  .header .menu {
    max-height: none;
    float: right;
    clear: none;
  }

  .header li {
    float: left;
  }

  .header {
    font-size: 16.5px;
  }
}

/* End Menu-styling*/

/* Repetetive */

.left-footer,
.footer h4,
.right-footer p,
.contact-content p,
.main2-booking-box-middle p,
.main2-booking-box p,
.main-exhibitions-right p,
.main-exhibitions-right h2,
.main1 h1,
.main2 h3,
.main2 p,
.main-explore h2,
.main-explore p,
.main-explore-middle h2,
.main-explore-middle p {
  margin: 0;
}

body,
main,
.main3,
.main-explore,
input[type="text"] {
  background-color: var(--darkPurple);
}


.some-icons,
.main1-right,
.main1-right img,
.main3-box-1,
.main-exhibitions-right,
.main-booking-right,
.main1-booking h2,
.main2-booking h2,
.personal-info,
.main2-booking-box,
.main2-booking-box-middle,
.bottom-text-footer,
.main3 {
  text-align: center;
}

.footer,
.main1,
.main2-content,
.main-explore,
.main-explore-middle,
.main-exhibitions,
.main1-booking,
.main2-booking,
.main3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer,
.footer,
.right-footer,
.left-footer,
.main1,
.main2,
.main2-content,
.main3,
.main-explore,
.main-explore-middle,
.exhibitions,
.main-exhibitions,
.content-exhibitions,
.main1-booking,
.main-booking-left,
.booking-ex-ilu i,
.main2-booking {
  height: auto;
}

.right-footer,
.left-footer,
.some-icons i,
.contact-content i,
.main2-booking-box,
.main2-booking-box-middle,
.main2-booking label {
  color: var(--darkPurple);
}

.line,
.main3-box-1,
.main3 {
  margin: 0 auto;
}

.line,
.main3,
label {
  justify-content: center;
}

.main1,
.main2,
.main3,
.main-explore,
.main-exhibitions {
  color: rgba(206, 194, 209, 0.9);
}

.right-footer,
.left-footer,
.main-explore,
.main-explore-middle,
.main-exhibitions,
.main1-booking {
  padding: 30px;
}

.footer,
.main2-content,
.main-explore,
.main-explore-middle,
.main-exhibitions,
.main1-booking,
.main1-booking h2,
.main2-booking h2 {
  width: 100%;
}

.line,
.main1-btn,
.main2-btn,
label {
  display: block;
}

.main1 h1,
.main3 h2,
.main-explore-right h2,
.main1-booking h2,
.main2-booking h2 {
  color: var(--yellow);
}

.main1 h1,
.main1-btn,
.main2 h2,
.main2-btn,
.main3 h2,
.main1-booking h2,
.main2-booking h2 {
  font-family: var(--heading-font)
}

.main1-btn,
.main2-btn,
.main2-box img,
.main-explore-middle-left img,
.main-explore-left img {
  border-radius: 0px 30px;
}

.main2,
.main-explore-middle,
.main2-booking {
  background-color: #2e1a34;
}

.main2-box img,
.main-explore-middle-left img,
.main-explore-left img,
.main-exhibitions-left img,
.main2-booking img {
  object-fit: cover;
}

.main-booking-left,
textarea,
.main2-booking-box,
.main2-booking-box-middle {
  border-radius: 20px;
}

.main1-booking,
.personal-info,
label,
.personal-info p,
textarea,
.main2-booking select,
.main-explore-middle {
  color: var(--pink);
}

/* End Repetetive */

/* Styling footer */
footer,
.footer,
.footer-bottom-text {
  background-color: #9f90a2;
}

footer {
  padding-bottom: 30px;
}

.footer h4 {
  padding-bottom: 5px;
  font-size: 18px;
}


.left-footer {
  order: 1;
  width: 250px;
  font-size: 18px;
}

.left-footer h4 {
  padding-left: 30px;
}

.right-footer {
  order: 2;
  margin-left: 60px;
}

.right-footer p {
  padding: 2px;
}

.line {
  border: 1px solid rgba(31, 9, 36, 0.4);
  margin-bottom: 20px;
  width: 80vw;
}

.some-icons {
  margin-top: 20px;
}

.some-icons i {
  padding: 8px;
  font-size: 22px;
}

.contact-content {
  display: inline-flex;
  padding: 5px;
}

.contact-content p {
  margin-left: 10px;
}

/* End styling footer */

/* Start styling home page */

.main1 {
  padding: 80px 30px 0px 30px;
  margin-bottom: 60px;
}

.main1 h1 {
  font-weight: 900;
  font-size: 40px;
}

.main1-left {
  width: 370px;
  margin: 150px 90px 90px 90px;
}

.main1-left p {
  padding-top: 20px;
  font-size: 19px;
  margin-top: -10px;
}

.main1-right {
  width: 50rem;
  margin-left: 40px;
  order: 2;
  margin: auto 0;
}

.main1-right img {
  height: 35em;
}

.main1-btn,
.main2-btn {
  border: none;
  padding: 16px 30px;
  color: #1a212e;
  cursor: pointer;
  transition: all 0.3s linear;
  position: relative;
  background-color: rgba(0, 149, 142, 0.8);
  font-weight: 800;
}

.main1-btn {
  margin-top: 50px;
  font-size: 26px;
  width: 260px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.main1-btn:hover,
.main1-btn:focus {
  background-color: var(--green);
}

a:link {
  text-decoration: none;
}

/* End styling main1 */

.main2 {
  padding-top: 75px;
  padding-bottom: 60px;
}

.main2 h2 {
  color: rgba(239, 203, 127, 0.9);
  font-weight: 900;
  font-size: 32px;
  position: absolute;
  margin-top: -15px;
}

.main2-box {
  width: 350px;
  margin: 85px;
  margin-top: 80px;
}

.main2-box img {
  width: 350px;
  height: 300px;
}

.main2-box h3 {
  padding-top: 19px;
  padding-bottom: 5px;
  font-size: 21px;
}

.main2 p {
  font-size: 19px;
}

.main2-btn {
  margin-top: 10px;
  font-size: 20px;
  width: 200px;
  margin-left: calc(50% - 100px);
}

.main2-btn:hover,
.main2-btn:focus,
.main2-booking .main2-btn:hover,
.main2-booking .main2-btn:focus {
  background-color: var(--green);
}

/* End styling main2 */

/* Start styling main3 */

.main3 img {
  width: 250px;
}

.main3 h2 {
  font-weight: 900;
  font-size: 32px;
  margin: 0 auto;
  display: block;
  width: 100vw;
  margin-bottom: 40px;
}

.main3 h3 {
  font-weight: bolder;
  font-size: 28px;
}


/* END styling home page */

/* START Explore page */

.main-explore {
  padding-top: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.main-explore-middle {
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-explore-middle-right {
  width: 40rem;
  margin-left: 40px;
  margin-right: 40px;
  order: 2;
  align-items: center;
  display: grid;
}

.main-explore-middle-right p {
  font-size: 20px;
}

.main-explore-middle-right h2 {
  color: rgba(239, 203, 127, 0.9);
  padding-bottom: 10px;
  font-size: 24px;
}

.main-explore-middle-left {
  width: 40rem;
  margin: 80px;
}

.main-explore-middle-left img {
  width: 40rem;
}

.main-explore-left {
  width: 40rem;
  margin: 80px;
}

.main-explore-left p {
  padding-top: 20px;
  font-size: 18.5px;
}

.main-explore-left img {
  width: 40rem;
}

.main-explore-right {
  width: 40rem;
  margin: 0px 20px;
  order: 2;
  align-items: center;
  display: grid;
}

.main-explore-right p {
  font-size: 20px;
}

.main-explore-right h2 {
  font-size: 24px;
  padding-bottom: 10px;
}

/* END Explore page */

/* START Exhibitions page */

.exhibitions {
  margin-top: 100px;
}

.main-exhibitions {
  margin-bottom: 80px;
  align-items: center;
}

.main-exhibitions-right {
  width: 40rem;
  margin-left: 40px;
  margin-right: 40px;
  order: 2;
  display: grid;

  min-width: 280px;
  height: max-content;
  justify-content: center;

}

.content-exhibitions {
  border: 2px solid rgba(206, 194, 209, 1);
  background-color: rgba(206, 194, 209, 0.1);
  border-radius: 30px;
  padding: 24px 24px;
  margin-top: 20px;
  text-align: left;
  height: max-content;
}

.main-exhibitions-left {
  width: 20rem;
  margin-left: 80px;
  margin-right: 80px;
}

.main-exhibitions-left img {
  width: 20rem;
  padding: 10px;
}

.main-exhibitions-right p {
  font-size: 22px;
}

.main-exhibitions-right h2 {
  font-size: 30px;
  color: rgba(239, 203, 127, 1);
}

/* END exhibitions page */

/* Start styling Booking */

.main1-booking {
  margin-top: 60px;
  margin-bottom: 200px;
}

.main1-booking h2,
.main2-booking h2 {
  margin: 40px 0px;
  font-size: 30px;
}

.main-booking-left {
  align-self: center;
  min-width: 320px;
  width: 400px;
  padding: 20px;
  border: 3px solid rgba(206, 194, 209, 0.3);
  margin: 90px 8em 0em 8em;
}

.booking-paragraf {
  padding-top: 10px;
}

.booking-paragraf h3 {
  margin: 0;
}

.booking-paragraf p {
  margin: 0px 0px 30px 0px;
}

.main-booking-right {
  width: 25em;
  margin: 0px 8em 0em 8em;
}

.main-booking-right img {
  width: 18em;
  height: auto;
  max-height: 600px;
}

.main-booking-right h3 {
  font-size: 25px;
  padding-top: 10px;
}

.main-booking-right p {
  text-align: left;
  padding: 10px 20px;
  font-size: 17.5px;
}

.main-booking-right input[type="text"] {
  color: var(--pink);
}

.personal-info {
  width: 25em;
  display: inline;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.personal-info p {
  padding: 0px;
  padding-top: 20px;
  font-size: 18px;
}

textarea {
  padding: 10px 10px;
  font-size: 16px;
  width: 22em;
  box-sizing: border-box;
  border: 2px solid rgba(206, 194, 209, 0.3);
  background-color: rgba(206, 194, 209, 0.3);
  resize: none;
  height: 220px;
}

.main-booking-right textarea {
  margin-top: 20px;
}

.booking-ex-ilu i {
  font-size: 26px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50%;
}

.booking-ex-ilu {
  display: flex;
}

.main2-booking {
  padding: 40px;
}

.main2-booking-box,
.main2-booking-box-middle {
  margin: 40px;
  width: 340px;
  height: auto;
  border: 2px solid rgba(206, 194, 209, 0.7);
  background-color: rgba(206, 194, 209, 0.7);
}

.main2-booking-box-middle .booking-event-info {
  margin-top: 10px;
}

.booking-event-info h3 {
  margin: 5px 0px;
}

.main2-booking-box p {
  margin-bottom: 5px;
}

.main2-booking img {
  padding: 10px;
  width: 320px;
  height: 200px;
  border-radius: 30px;
}

.booking-event-info {
  text-align: left;
  padding: 20px;
  color: var(--darkPurple);
}

.booking-event-info h3,
.booking-event-info p {
  color: rgba(31, 9, 36, 1);
}

.main2-booking select {
  margin-top: 10px;
  background-color: rgba(31, 9, 36, 0.7);
  padding: 10px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid rgba(31, 9, 36, 0.7);
}

.main2-booking .personal-info {
  width: 330px;
}

.main2-booking input[type="text"] {
  width: 25em;
  padding: 12px;
  border: none;
  background-color: rgba(206, 194, 209, 0);
  border-bottom: 1px solid var(--darkPurple);
  border-radius: 0px;
}

.main1-booking ::placeholder {
  color: rgba(206, 194, 209, 0.7);
}

.main1-booking ::-ms-input-placeholder {
  color: rgba(206, 194, 209, 0.7);
}

.main2-booking .main2-btn {
  width: 300px;
  margin: 0px 20px 20px 20px;
  background-color: rgba(0, 149, 142, 0.4);
}

.main2-booking-box p {
  padding-bottom: 10px;
}

.main2-booking ::placeholder {
  color: var(--darkPurple);
}

.main1-booking ::-ms-input-placeholder {
  color: var(--darkPurple);
}

.main1-booking .personal-info label {
  color: rgba(206, 194, 209, 0.9);
}

.main2-booking .personal-info label {
  color: rgba(31, 9, 36, 0.9);
}

.main1-booking .personal-info label,
.main2-booking .personal-info label {
  font-weight: 600;
}

/* End styling Booking */

#right-button,
#left-button {
  opacity: 0.6;
  font-size: 2.3em;
}

.main3 #right-button,
.main3 #left-button {
  font-size: 2.8em;
}

#right-button {
  padding-left: 20px;
}

#left-button {
  padding-right: 20px;
}

#right-button:hover,
#left-button:hover {
  opacity: 1;
}


.main3 {
  padding: 40px;
  max-width: 90vw;
  width: 1200px;
  margin: 40px auto;
}

.main3-exhibitions {
  text-align: center;
  width: 30em;
  margin: 0px 8em 0em 8em;
}

.main3-exhibitions img {
  width: 22em;
  max-height: 700px;
  padding-top: 20px;
}

.main3-exhibitions h3 {
  font-size: 30px;
}

.form-error,
#contact-name-error {
  width: 100%;
  color: var(--yellow);
  font-size: 14px;
  text-align: center;
  display: none;
  margin: 4px 30px 0px 30px;
}

.send-succsess {
  border: 1px solid var(--green);
  width: 330px;
  border-radius: 6px;
  display: none;
  margin: 0 auto;
  margin-top: 20px;
}

.send-succsess-event { 
  width: 280px;
  font-weight: 600;
  margin: 0 auto;
  font-size: 15px;
  display: none;
}

/* RESPONSIVE EXPLORE and GET INVOLVED */

@media (max-width: 880px) {

  .main-explore-middle-left,
  .main-explore-middle-left img,
  .main-explore-left,
  .main-explore-left img,
  .main-explore-right,
  .main-explore-middle-right {
    width: 32rem;
  }

  .main-explore-middle-right p {
    font-size: 18px;
  }

  .main-explore-left {
    margin: 80px;
  }

  .main-explore-right p {
    font-size: 18px;
  }

  .main-explore-middle-left,
  .main-explore-left {
    margin-bottom: 40px;
  }

  .main-explore-middle {
    padding-top: 0px;
  }

  .main-explore {
    margin-top: 0px;
  }

  .main-explore h1 {
    font-family: var(--heading-font);
    margin-top: 80px;
    margin-bottom: -40px;
    color: var(--yellow);
    font-size: 40px;
  }

  .main-exhibitions h1 {
    width: 100%;
    font-family: var(--heading-font);
    margin-top: 80px;
    color: var(--yellow);
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
  }

  /* Responsive Exhibitions */

  .main-exhibitions-right p {
    font-size: 18px;
  }

  .main-exhibitions-right h2 {
    font-size: 26px;
  }

  .exhibitions {
    margin-top: 30px;
  }

  /* Responsive homepage */

  .main1-right {
    width: 100vw;
  }

  .main1-right img {
    height: 30em;
  }

  .main1-btn {
    font-size: 23px;
    width: 220px;
  }

  /* Responsive Booking */

  .main-booking-left {
    margin: 0em 20px 0em 20px;
  }

  .main-booking-right {
    width: 25em;
    text-align: center;
    margin: 0px 20px 90px 20px;
  }
  .main-booking-right #right-button {
    padding-left: 0px;
    font-size: 1.8em;
  }
  
  .main-booking-right #left-button {
    padding-right: 00px;
    font-size: 1.8em;
  }


  .main3-exhibitions img {
    width: 17em;
  }

  .main3-exhibitions h3 {
    font-size: 28px;
  }

  .main3 #right-button,
  .main3 #left-button {
    font-size: 2.3em;
  }
}

@media (max-width: 600px) and (min-width: 300px) {

  .main-explore-middle-left,
  .main-explore-middle-left img,
  .main-explore-left,
  .main-explore-left img,
  .main-explore-right,
  .main-explore-middle-right {
    width: 20rem;
  }

  .main-explore-middle-right p {
    font-size: 16px;
  }

  .main-explore-left {
    margin: 80px;
  }

  .main-explore-right p {
    font-size: 16px;
  }

  .main-explore-right,
  .main-explore-middle-right {
    margin-left: 10px;
    margin-right: 10px;
  }

  .main-explore-middle-right h2,
  .main-explore-right h2 {
    font-size: 18px;
  }

  .main-explore-middle-left,
  .main-explore-left {
    margin-bottom: 30px;
  }

  .main-explore-middle {
    padding-top: 0px;
  }

  .main-explore {
    margin-top: 0px;
  }

  .main-explore {
    font-size: 16px;
  }

  .main-explore h1,
  .main-exhibitions h1 {
    font-size: 30px;
  }

  .main2-box p,
  .main2-box h3 {
    padding: 10px;
  }

  .main2-box h3 {
    font-size: 19px;
  }

  .main2-box p {
    font-size: 18px;
  }

  .main2-box img {
    width: 320px;
    height: 270px;
  }

  .main2 h2,
  .main3 h2 {
    font-size: 28px;
  }

  .main1-btn {
    font-size: 21px;
    width: 180px;
  }

  .main-booking-right {
    width: 300px;
    margin-left: 5px;
    margin-right: 5px;
  }

  textarea {
    width: 260px;
  }

  .personal-info {
    width: 300px;
  }

  .main-booking-right img {
    width: 12em;
    margin-left: 20px;
    margin-right: 20px;
  }

  .main1-booking .main2-btn {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
  }

  .main-booking-right img {
    width: 12em;
    margin-left: 20px;
    margin-right: 20px;
  }

  .main-booking-right p {
    font-size: 15px;
  }

  /* Responsive main3 exhibitions */

  .main3-exhibitions img {
    width: 15em;
  }

  .main3-exhibitions h3 {
    font-size: 24px;
  }

  .main3 #right-button,
  .main3 #left-button {
    font-size: 2em;
  }


}

@media (min-width: 880px) {

  .main-explore h1,
  .main-exhibitions h1 {
    display: none;
    margin-top: 80px;
    color: var(--yellow);
  }
}

/* Responsive homepage */

@media (max-width: 1510px) {
  .main1-left {
    width: 660px;
    margin: 90px;
    margin-top: 100px;
    order: 2;
    min-width: 340px;
  }

  .main1-right {
    order: 1;
  }

  .main1 h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 0px;
  }

  .main1-left {
    padding: 20px;
    border-radius: 20px;
    border: 3px solid rgba(206, 194, 209, 0.3);
  }
}

@media (max-width: 880px) and (min-width: 650px) {
  .main1 h1 {
    font-size: 38px;
  }

  .main1 p {
    font-size: 18px;
  }
}

@media (max-width: 660px) and (min-width: 300px) {
  .main1 h1 {
    font-size: 32px;
    text-align: left;
  }

  .main1 p {
    font-size: 18px;
  }

  .main1-right {
    width: 100vw;
  }

}

/* Responsive main3 */

@media (max-width: 1200px) {
  .main3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 660px) and (min-width: 550px) {
  .main1-right img {
    height: 26em;
  }
}

@media (max-width: 550px) and (min-width: 450px) {
  .main1-right img {
    height: 22em;
  }
}

@media (max-width: 450px) and (min-width: 300px) {
  .main1-right img {
    height: 18em;
  }
}

@media (max-width: 1390px) {
  .main-booking-left {
    order: 2;
  }

  .main1-booking {
    margin-bottom: 60px;
  }
}


/*!
 * Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

.fa-phone-alt:before {
  content: "\f879";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-map-marker-alt:before {
  content: "\f3c5";
}

.fa-instagram-square:before {
  content: "\e055";
}

.fa-youtube:before {
  content: "\f167";
}

.fa-facebook-square:before {
  content: "\f082";
}

.fa-chevron-left:before {
  content: "\f053";
}

.fa-chevron-right:before {
  content: "\f054";
}


@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-brands-400.eot");
  src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

.fab {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-regular-400.eot");
  src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.fa-2x {
  font-size: 3em;
}

.fa-3x {
  font-size: 3em;
}


.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}


ul .active a {
  color: var(--yellow);
}

#select-event-qnt-1, #select-event-date-1, #select-event-qnt-2, #select-event-date-2, #select-event-qnt-3, #select-event-date-3 {
  font-weight: 600;
  text-align: left;
  padding-left: 20px;
  color: rgba(31, 9, 36, 0.9);
  margin-top: 10px;
}